[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
  email = hezbymuhammad@gmail.com
  name = hezbymuhammad
[push]
  default = current
[color]
  ui = auto
[merge]
  ff = only
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  colorMoved = zebra
