[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
  email = hezbymuhammad@gmail.com
  name = hezbymuhammad
[push]
  default = current
[color]
  ui = auto
[merge]
  ff = only
	tool = meld
[commit]
  template = ~/.gitmessage
[fetch]
  prune = true
[rebase]
  autosquash = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[diff]
  colorMoved = zebra
[alias]
  meld = !git difftool -t meld --dir-diff
  bb = !better-git-branch.sh
[mergetool "meld"]
  path = /Applications/Meld.app/Contents/MacOS/Meld
[difftool "meld"]
  cmd = /Applications/Meld.app/Contents/MacOS/Meld \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
